__pycache__
*.pyc
/tmp/
*.log
.env
.vscode/
.airflow*
Dockerfile
.git
*.iml
.idea/
__pycache__/
env/
venv/
*.swp
*.swo
*.swn
*.DS_Store
*.pid
*.pyc
*.pyo
*.pyd
.Python
ipython_checkpoints
*.so
*.dll
*.class
*.bat
*.sh
*.out
*.ttf
*.data
*.bin
*.key
*.pem
*.crt
*.csr
*.ini
*.toml
*.env
*.lock
*.db
*.sqlite
*.csv
*.xlsx
*.log
*.log.*
*.xml
*.pdf
*.md~